a {
  color: var(--color-nearly-black);
}

body {
  overflow-x: hidden;
}

.inner {
  max-width: var(--size-max-width);
  margin: 0 auto;
  padding: 0 var(--size-base);
  position: relative;
}

.stack {
  display: grid;
  gap: var(--size-base);

  &.small {
    gap: var(--size-small);
  }

  &.medium {
    gap: var(--size-medium);
  }

  &.large {
    gap: var(--size-large);
  }

  &.justify-center {
    justify-content: center;
  }
}

.row {
  display: flex;
  align-items: stretch;
  gap: var(--size-medium);
  flex-direction: row;
  flex-wrap: wrap;

  &.center {
    align-items: center;
  }

  &.flex-start {
    align-items: flex-start;
  }

  > * {
    flex-basis: 0;
    flex-grow: 1;
    width: 100%;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.button {
  background: var(--color-white);
  color: var(--color-nearly-black);
  border-radius: var(--border-radius-small);
  padding: var(--size-base) var(--size-medium);
  font-weight: var(--font-weight-bold);
  border: 1px solid var(--color-nearly-black);
  cursor: pointer;
  box-shadow: 0px 4px 4px var(--color-nearly-black-20);
  transition: var(--transition-fast);
  display: flex;
  align-items: center;
  gap: var(--size-small);
  text-decoration: none;
  width: fit-content;

  &:hover {
    background: var(--color-black);
    color: var(--color-white);
  }
}

.accessibleText {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.tags {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  flex-wrap: wrap;
}

.tag {
  background: var(--color-pale-grey);
  border-radius: var(--border-radius-large);
  padding: var(--size-base);
  display: inline-block;
}

.box {
  display: flex;
  justify-content: flex-start;

  &.justify-center {
    justify-content: center;
  }
}

blockquote {
  background: var(--color-pale-grey);
  padding: var(--size-medium);
  border-left: var(--size-small) solid var(--color-nearly-black-80);
  font-style: italic;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

ul {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--size-base);
}
