a {
  color: var(--color-nearly-black);
}

body {
  overflow-x: hidden;
  background: var(--color-black);
  padding: var(--size-medium);
}

.wrapper {
  max-width: var(--size-max-width);
  margin: auto;
  display: grid;
  gap: var(--size-medium);
}

.panel {
  background: linear-gradient(135deg, rgba(65, 65, 65, 1) 0%, rgba(0, 0, 0, 1) 100%);
  border-radius: var(--border-radius-medium);
  box-shadow: inset 0px 0px 0px var(--size-extra-small) var(--color-grey);
  position: relative;
}

.orange-text {
  color: var(--color-orange);
}

.white-text {
  color: var(--color-white);
}

.button {
  background: var(--color-white);
  color: var(--color-nearly-black);
  border-radius: var(--border-radius-small);
  padding: var(--size-base) var(--size-medium);
  font-weight: var(--font-weight-bold);
  border: 1px solid var(--color-nearly-black);
  cursor: pointer;
  box-shadow: var(--card-box-shadow);
  transition: var(--transition-fast);
  display: flex;
  align-items: center;
  gap: var(--size-small);
  text-decoration: none;
  width: fit-content;

  &:hover {
    background: var(--color-black);
    color: var(--color-white);
  }
}

.accessibleText {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
