@import '@fontsource/poppins';
@import '@fontsource/poppins/300.css';
@import '@fontsource/poppins/600.css';
@import '@fontsource/poppins/700.css';
@import '@fontsource/nunito';
@import '@fontsource/nunito/300.css';
@import '@fontsource/nunito/600.css';
@import '@fontsource/nunito/700.css';

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: 'Poppins', sans-serif;
  line-height: 1.25;
}

html {
  font-size: 62.5%;
  color: var(--color-text);

  @media (max-width: 767px) {
    font-size: 50%;
  }
}

body,
.body {
  font-family: 'Nunito', sans-serif;
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
}

h1,
.h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold);
  color: var(--color-text);

  @media (max-width: 767px) {
    font-size: calc(var(--font-size-h1) * 0.7);
  }

  &.large {
    font-size: var(--font-size-max);
    line-height: 1.05;

    @media (max-width: 767px) {
      font-size: calc(var(--font-size-max) * 0.7);
    }
  }
}

h2,
.h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-semi-bold);
  color: var(--color-accent);
}

h3,
.h3 {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-light);
  color: var(--color-accent);
}

.small {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
}
