:root {
  /* sizes */
  --size-max-width: 1400px;
  --size-small: 0.8rem;
  --size-base: 1.6rem;
  --size-medium: 3.2rem;
  --size-large: 6.4rem;
  --size-extra-large: 9.6rem;
  --size-max: 19.2rem;

  /* colors */
  --color-black: #000;
  --color-nearly-black: #333;
  --color-nearly-black-20: rgb(51 51 51 / 20%);
  --color-nearly-black-40: rgb(51 51 51 / 40%);
  --color-nearly-black-80: rgb(51 51 51 / 80%);
  --color-white: #fff;
  --color-orange: #ff9900;
  --color-grey: #414141;
  --color-good: #0c6;
  --color-good-dark: #028802;
  --color-good-pale: #e6faf0;
  --color-average: #fa3;
  --color-average-dark: #c33300;
  --color-average-pale: #fff7eb;
  --color-poor: #f33;
  --color-poor-dark: #c00;
  --color-poor-pale: #ffebeb;

  /* font size */
  --font-size-small: 1.6rem;
  --font-size-body: 2.2rem;
  --font-size-h3: 3.2rem;
  --font-size-h2: 4rem;
  --font-size-h1: 6.4rem;
  --font-size-max: 9.6rem;

  /* font weight */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  /* border raduis */
  --border-radius-small: 0.8rem;
  --border-radius-medium: 1.6rem;
  --border-radius-large: 3.2rem;
  --border-radius-super: 12.8rem;
  --border-radius-max: 50%;

  /* transitions */
  --transition-fast: all 0.2s ease-in-out;
  --transition-base: all 0.8s ease-in-out;
}

html[data-theme='dark'] {
  --background-color: #212a2e;
  --text-color: #f7f8f8;
  --link-color: #828fff;
}
